<div id="book-modify-content" class="modify-tabbed-content" style="display:block">
    {{> book/book-mod-input-bar}}
    {{> book/book-mod-content-pane}}
    {{> tool/staff-control-bar}}
</div>
{{> dialog/book-modal}}
