<div class="purchase-page-content" style="height:870px">
    <table class="purchase-info-table">
        <tr>
            <th class="purchase-info-header id">Book ID</th>
            <th class="purchase-info-header name">Book Name</th>
            <th class="purchase-info-header price">Book Price</th>
        </tr>
    </table>
    {{> tool/buy-control-bar}}
</div>
