<footer class="general-footer-style">
    <ul>
        <li><a href="http://www.w3schools.com/"><img src="http://www.w3schools.com/images/w3cert.gif" alt=""/></a></li>
        <li><a href="https://nodejs.org/en/"><img src="https://nodejs.org/static/images/logo.svg" alt="" width="237px", height="103.5px"/></a></li>
        <li><a href="http://handlebarsjs.com/"><img src="http://handlebarsjs.com/images/handlebars_logo.png" alt="" width="171px", height="129px"/></a></li>
        <li><a href="https://www.mysql.com/"><img src="http://www.hashin.in/hash/_layout/images/expertise/mysql.png" alt="" width="200px", height="150px"/></a></li>
    </ul>
    <div class="footer-info-list">
        <p>Copyright &copy;2017 Winter Term Luan Songjian. All Rights Reserved</p>
    </div>
</footer>
