<header>
    <img src="icon/logo_256_256.svg" alt=""/>
    <div class="general-header-title">
        <h1>CS340 Final Project - {{title}}</h1>
        <h2>This is a final project of CS 340</h2>
    </div>
</header>
