<header>
    <img src="http://www.free-icons-download.net/images/book-icon-48583.png" alt="" width="64px" height="64px"/>
    <div class="general-header-title">
        <h1>CS340 Final Project - {{title}}</h1>
        <h2>This is a final project of CS 340</h2>
    </div>
</header>
