<nav>
    <ul class="inner-page-nav">
        <li class="dropdown-menu-bar">
            <a href="#" class="dropdown-menu-title">Book Management</a>
            <div class="dropdown-menu-item">
                <a href="/">Book Information Modify</a>
                <hr>
                <a href="about">Book Information Search</a>
            </div>
        </li>
        <li class="dropdown-menu-bar">
            <a href="#" class="dropdown-menu-title">Storage Management</a>
            <div class="dropdown-menu-item">
                <a href="/">Storage Information Modify</a>
                <hr>
                <a href="about">Storage Information Search</a>
            </div>
        </li>
        <li class="dropdown-menu-bar">
            <a href="#" class="dropdown-menu-title">Vendor Management</a>
            <div class="dropdown-menu-item">
                <a href="/">Vendor Information Modify</a>
                <hr>
                <a href="about">Vendor Information Search</a>
            </div>
        </li>
    </ul>
    <a href="#" class="dropdown-menu-account">{{account}}</a>
</nav>
