<nav>
    <ul>
        <li id="person-info-id">Visitor ID: {{id}}</li>
        <li id="person-info-name">Visitor Name: {{name}}</li>
        <li id="person-info-type">Visitor Type: {{type}}</li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</nav>
