<div class="purchase-page-side">
    <section class="consumer-info-section">
        <h1>Person Information</h1>
        <div class="consumer-page-section-line">
            <label for="">Consumer ID:</label>
            <span>{{id}}</span>
        </div>
        <hr>
        <div class="consumer-page-section-line">
            <label for="">Consumer Name:</label>
            <span>{{firstName}}&nbsp;{{lastName}}</span>
        </div>
        <hr>
        <div class="consumer-page-section-line">
            <label for="">Consumer Type:</label>
            <span>{{type}}</span>
        </div>
    </section>
</div>
