<div id="store-modify-content" class="modify-tabbed-content">
    {{> store/store-mod-input-bar}}
    {{> store/store-mod-content-pane}}
    {{> tool/staff-store-control-bar}}
</div>
{{> dialog/store-modal}}
