<div class="query-page-side">
    <section class="consumer-info-section">
        <h1>Person Information</h1>
        <div class="consumer-page-section-line">
            <label for="">Consumer ID:</label>
            <span>{{id}}</span>
        </div>
        <hr>
        <div class="consumer-page-section-line">
            <label for="">Consumer Name:</label>
            <span>{{firstName}}&nbsp;{{lastName}}</span>
        </div>
        <hr>
        <div class="consumer-page-section-line">
            <label for="">Consumer Type:</label>
            <span>{{type}}</span>
        </div>
    </section>
    <section class="condition-input-section">
        <h1>Query Condition</h1>
        <div class="condition-input-section-line">
            <label for="">Vendor ID</label>
            <input type="text" name="vendid" value="">
        </div>
        <div class="condition-input-section-line">
            <label for="">Vendor Name</label>
            <input type="text" name="vendfloor" value="">
        </div>
        <div class="condition-input-section-line">
            <label for="">Book Type</label>
            <select class="" name="">
                <option selected="true" disabled>Select one book type</option>
                <option>Art</option>
                <option>Engineering</option>
                <option>History</option>
                <option>Literature</option>
                <option>Science</option>
            </select>
        </div>
        <button type="button" name="dosearch">Search</button>
    </section>
</div>
