.buy-info-table {
    background-color: crimson;
    width: 100%;
}

.buy-info-header {
    color: snow;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 12pt;
    font-weight: bold;
    height: 40px;
}

.buy-info-header.type, .buy-info-header.date {
    width: 150px;
}

.buy-info-header.id, .buy-info-header.name {
    width: 200px;
}

.buy-info-footer {
    background-color: darkred;
    color: snow;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 12pt;
    font-weight: bold;
    height: 40px;
}

.buy-info-footer.total {
    padding-left: 50px;
}

.buy-info-footer.price {
    text-align: center;
}

.buy-info-row {
    background-color: snow;
    color: crimson;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 12pt;
    font-weight: normal;
    height: 40px;
    text-align: center;
}
