input[type='text'], input[type='password'], input[type='date'], input[type='number'] {
    border-color: crimson;
    border-width: medium;
    border-style: solid;
    color: crimson;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 18pt;
    font-weight: normal;
    padding-left: 5px;
    width: 100%;
    height: 50px;
}

input[type='checkbox'] {
    position: relative;
    vertical-align: middle;
    zoom: 1.5;
}

select {
    background-color: crimson;
    border-width: 0;
    color: snow;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 12pt;
    font-weight: normal;
    width: 100%;
    height: 50px;
}

button:hover, select:hover, a:hover {
    background-color: darkred;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25), 0 5px 20px 0 rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

html, body {
    background-color: crimson;
    height: 100%;
    overflow-y: hidden;
}

hr {
    border-color: crimson;
    margin: 0;
}

.control-toolbar {
    display: inline-flex;
    justify-content: flex-end;
    width: 100%;
}

.control-toolbar button {
    background-color: crimson;
    border-radius: 75px;
    border-width: 0;
    color: snow;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 24pt;
    font-weight: normal;
    margin: 5px;
    width: 75px;
    height: 75px;
}
/**/
header {
    align-items: center;
    display: inline-flex;
    justify-content: space-between;
    padding: 5px;
    width: 100%;
}

header img {
    margin: 5px;
    width: 64px;
    height: 64px;
}

header img:hover {
    cursor: pointer;
}

.general-header-title h1 {
    color: snow;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 18pt;
    font-weight: bold;
    margin: 0;
    padding: 0;
    text-align: right;
}

.general-header-title h2 {
    color: snow;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 12pt;
    font-weight: bold;
    margin: 0;
    padding: 0;
    text-align: right;
}
/**/
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 30px;
}

footer p {
    align-items: center;
    color: snow;
    display: inline-flex;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 10pt;
    font-weight: normal;
    justify-content: center;
    margin: 0;
    width: 100%;
    height: 100%;
}
/**/
nav {
    display: inline;
}

nav ul {
    display: inline-flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

nav ul li {
    align-items: center;
    color: snow;
    display: inline-flex;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 12pt;
    font-weight: normal;
    padding-left: 5px;
    width: 100%;
    height: 30px;
}
/**/
.initial-page-main {
    align-items: center;
    background-color: snow;
    display: inline-flex;
    justify-content: center;
    width: 100%;
    height: 845px;
}
/**/
.index-page-main {
    background-color: snow;
    width: 100%;
}

.index-page-main ul {
    background-color: crimson;
    display: inline-flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.index-page-main ul li {
    color: snow;
    display: inline-block;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 12pt;
    font-weight: normal;
    width: 100%;
}

.index-page-main ul li a {
    align-items: center;
    display: flex;
    justify-content: center;
    text-decoration: none;
    width: 100%;
    height: 30px;
}

.index-page-content {
    padding: 5px;
}

.consumer-tabbed-content {
    display: none;
}
/**/
.query-input-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.query-input-bar .query-input-bar-tag {
    color: crimson;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 12pt;
    font-weight: normal;
    padding: 5px;
    width: 60px;
}

.to {
    text-align: center;
}

.query-input-bar input[type='text'] {
    color: crimson;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 12pt;
    font-weight: bold;
    width: 200px;
    height: 30px;
}

.query-input-bar input[type='date'] {
    color: crimson;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 12pt;
    font-weight: bold;
    width: 200px;
    height: 30px;
}

.query-input-bar input[type='number'] {
    color: crimson;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 12pt;
    font-weight: bold;
    width: 200px;
    height: 30px;
}

.query-input-bar select {
    width: 200px;
    height: 30px;
}

.query-input-bar button {
    background-color: crimson;
    border-width: 0;
    color: snow;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 12pt;
    font-weight: normal;
    width: 100%;
    height: 30px;
}

.query-page-content {
    width: 100%;
    overflow: auto;
}
/**/
.initial-form-table {
    background-color: crimson;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25), 0 5px 20px 0 rgba(0, 0, 0, 0.25);
    margin: 10px;
    width: 500px;
}

.initial-form-table button, .initial-form-table select {
    background-color: crimson;
    border-width: 0;
    color: snow;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 18pt;
    font-weight: normal;
    width: 100%;
    height: 100%;
}

.initial-table-title {
    color: snow;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 24pt;
    font-weight: bold;
    text-align: center;
}

.initial-table-tag {
    background-color: snow;
    color: crimson;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 18pt;
    font-weight: normal;
    width: 100px;
    height: 50px;
    text-align: right;
}

.initial-table-content {
    background-color: snow;
    width: 360px;
    height: 50px;
}
/**/
.purchase-page-content {
    padding: 0 5px;
    width: 100%;
    overflow-y: auto;
}

.purchase-info-table {
    background-color: crimson;
    width: 100%;
}

.purchase-info-header {
    color: snow;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 12pt;
    font-weight: bold;
    height: 40px;
}

.purchase-info-header.id, .purchase-info-header.price {
    width: 150px;
}

.purchase-info-header.name {
    width: 350px;
}

.purchase-info-footer {
    background-color: darkred;
    color: snow;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 12pt;
    font-weight: bold;
    height: 40px;
}

.purchase-info-footer.total {
    padding-left: 50px;
}

.purchase-info-footer.price {
    text-align: center;
}
/**/
.consumer-info-section, .condition-input-section {
    border-color: crimson;
    border-width: medium;
    border-style: solid;
    margin-bottom: 5px;
    width: 100%;
}

.consumer-info-section h1, .condition-input-section h1 {
    align-items: center;
    background-color: crimson;
    color: snow;
    display: flex;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 14pt;
    font-weight: bold;
    height: 40px;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.consumer-info-section div, .condition-input-section div {
    display: block;
    padding: 5px;
}

.consumer-info-section label, .condition-input-section label {
    color: crimson;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 12pt;
    font-weight: bold;
    padding: 5px;
}

.consumer-info-section span, .condition-input-section span {
    color: crimson;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 12pt;
    font-weight: bold;
}

.condition-input-section input[type='text'], .condition-input-section input[type='date'] {
    color: crimson;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 12pt;
    font-weight: bold;
    height: 30px;
}

.condition-input-section input[type='number'] {
    color: crimson;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 12pt;
    font-weight: bold;
    width: 80px;
    height: 30px;
}

.condition-input-section select {
    background-color: crimson;
    border-width: 0;
    color: snow;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 12pt;
    font-weight: normal;
    width: 100%;
    height: 30px;
}

.condition-input-section button {
    background-color: crimson;
    border-width: 0;
    color: snow;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 12pt;
    font-weight: normal;
    width: 100%;
    height: 30px;
}
/**/
.book-info-table {
    background-color: crimson;
}

.book-info-table button {
    background-color: crimson;
    border-width: 0;
    color: snow;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 12pt;
    font-weight: bold;
    width: 30px;
    height: 30px;
}

.book-info-header.select {
    width: 40px;
}

.book-info-header.control {
    width: 80px;
}

.book-info-header.id, .book-info-header.type, .book-info-header.edition {
    width: 150px;
}

.book-info-header.name {
    width: 350px;
}

.book-info-header.author, .book-info-header.press, .book-info-header.isbn, .book-info-header.date {
    width: 200px;
}

.book-info-header.price {
    width: 150px;
}
/**/
.repo-info-table {
    background-color: crimson;
}

.repo-info-header.select {
    width: 40px;
}

.repo-info-header.control {
    width: 80px;
}

.repo-info-header.id, .repo-info-header.quantity {
    width: 150px;
}

.repo-info-header.floor {
    width: 200px;
}

.repo-info-header.guard {
    width: 250px;
}
/**/
.vend-info-table {
    background-color: crimson;
    width: 1220px;
}

.vend-info-header.select {
    width: 40px;
}

.vend-info-header.control {
    width: 80px;
}

.vend-info-header.id, .vend-info-header.phone {
    width: 150px;
}

.vend-info-header.name {
    width: 250px;
}

.vend-info-header.address, .vend-info-header.email {
    width: 200px;
}
/**/
.book-info-header, .repo-info-header, .vend-info-header {
    color: snow;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 12pt;
    font-weight: bold;
    height: 40px;
}

.purchase-info-row, .book-info-row, .repo-info-row, .vend-info-row {
    background-color: snow;
    color: crimson;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 12pt;
    font-weight: normal;
    height: 40px;
    text-align: center;
}
/*Modal Dialog Styles*/
.modal-dialog-backdrop {
    background-color: rgba(0, 0, 0, 0.85);
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.modal-dialog-frame {
    align-items: center;
    display: none;
    justify-content: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1010;
    overflow: auto;
}

.modal-dialog-main {
    border-color: crimson;
    border-width: medium;
    border-style: solid;
    width: 400px;
}

.modal-dialog-title {
    background-color: crimson;
    display: inline-flex;
    width: 100%;
    height: 30px;
}

.modal-dialog-title h1 {
    align-items: center;
    color: snow;
    display: inline-flex;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 12pt;
    font-weight: bold;
    justify-content: center;
    margin: 0;
    width: 100%;
    height: 100%;
}

.modal-dialog-title button {
    background-color: crimson;
    border-width: 0;
    color: snow;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 10pt;
    font-weight: normal;
    width: 40px;
}

.modal-dialog-main table {
    background-color: snow;
}

.modal-input-tag {
    color: crimson;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 10pt;
    font-weight: normal;
    margin: 5px;
    width: 100px;
}

.modal-input-text {
    margin: 5px;
    width: 300px;
}

.modal-input-text input[type='text'], .modal-input-text input[type='date'], .modal-input-text input[type='number'] {
    height: 30px;
}

.modal-input-text select {
    height: 30px;
}

.modal-dialog-input .modal-input-image {
    color: crimson;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 10pt;
    font-weight: normal;
    width: 50%;
}

.modal-dialog-button ul {
    display: inline-flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.modal-dialog-button ul li {
    width: 100%;
}

.modal-dialog-button a {
    align-items: center;
    background-color: crimson;
    border-width: 0;
    color: snow;
    display: inline-flex;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 10pt;
    font-weight: normal;
    justify-content: center;
    text-decoration: none;
    width: 100%;
    height: 30px;
}

.modal-dialog-button a:hover, .modal-dialog-title button:hover {
    background-color: darkred;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25), 0 5px 20px 0 rgba(0, 0, 0, 0.25);
    cursor: pointer;
}
