.vend-info-table {
    background-color: crimson;
    width: 1220px;
}

.vend-info-table button {
    background-color: crimson;
    border-width: 0;
    color: snow;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 12pt;
    font-weight: bold;
    width: 30px;
    height: 30px;
}

.vend-info-header {
    color: snow;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 12pt;
    font-weight: bold;
    height: 40px;
}

.vend-info-header.select {
    width: 40px;
}

.vend-info-header.control {
    width: 80px;
}

.vend-info-header.id, .vend-info-header.name, .vend-info-header.phone {
    width: 150px;
}

.vend-info-header.email {
    width: 200px;
}

.vend-info-header.address {
    width: 250px;
}

.vend-info-row {
    background-color: snow;
    color: crimson;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 12pt;
    font-weight: normal;
    height: 40px;
    text-align: center;
}
