{{> outer-nav}}
{{> header}}
<main class="query-page-main">
    <div class="query-page-side">
        {{> tool/visitor-info}}
    </div>
    <div class="query-page-box">
        <div class="query-page-content">
            <table class="book-info-table">
                <tr>
                    <th class="book-info-header select"><input type="checkbox" name="" value=""></th>
                    <th class="book-info-header id">Book ID</th>
                    <th class="book-info-header name">Book Name</th>
                    <th class="book-info-header type">Book Type</th>
                    <th class="book-info-header author">Book Author</th>
                    <th class="book-info-header edition">Book Edition</th>
                    <th class="book-info-header date">Book Publish Date</th>
                    <th class="book-info-header press">Book Publish Press</th>
                    <th class="book-info-header isbn">Book ISBN</th>
                    <th class="book-info-header price">Book Price</th>
                    <th class="book-info-header control"></th>
                </tr>
            </table>
        </div>
        {{> tool/control-bar}}
    </div>
</main>
{{> footer}}
