{{> navigator-bar}}
{{> header}}
<main class="index-page-main">
    <ul>
        <li><a href="#" title="buy-list" class="query-tabbed-title" style="background-color: darkred">Purchase Book</a></li>
        <li><a href="#" title="book-query" class="query-tabbed-title">Query Book Information</a></li>
        <li><a href="#" title="store-query" class="query-tabbed-title">Query Book Storage</a></li>
    </ul>
    <div class="index-page-content">
        {{> buy-book}}
        {{> book-query}}
        {{> store-query}}
    </div>
</main>
{{> footer}}
