{{> navigator-bar}}
{{> header}}
<main class="index-page-main">
    <ul>
        <li><a href="">Purchase Book</a></li>
        <li><a href="">Query Book Information</a></li>
        <li><a href="">Query Book Storage</a></li>
    </ul>
    <div class="index-page-content">{{> book-query}}</div>
</main>
{{> footer}}
