{{> header}}
<main class="initial-page-main">
    <table class="initial-form-table">
        <tr>
            <th colspan="2" class="initial-table-title">Post Operation Form</th>
        </tr>
        <tr>
            <td class="initial-table-tag">Username: </td>
            <td class="initial-table-content"><input type="text" name="username" value="" placeholder="Enter Username" id="initial-input-username"></td>
        </tr>
        <tr>
            <td class="initial-table-tag">Password: </td>
            <td class="initial-table-content"><input type="password" name="password" value="" placeholder="Enter Password" id="initial-input-password"></td>
        </tr>
        <tr>
            <td class="initial-table-tag">Role: </td>
            <td class="initial-table-content">
                <select class="" name="" id="initial-select-role">
                    <option selected="true" disabled>Select one role</option>
                    <option value="visitor">Visitor</option>
                    <option value="administrator">Administrator</option>
                </select>
            </td>
        </tr>
        <tr>
            <td class="initial-table-tag"><button type="button" name="clear">Clear</button></td>
            <td class="initial-table-content"><button type="button" name="submit" id="initial-signin-button">Submit</button></td>
        </tr>
    </table>
</main>
{{> footer}}
