{{> outer-nav}}
{{> header}}
<main class="purchase-page-main">
    {{> purchase-side-box}}
    <div class="purchase-page-content">
        <table class="purchase-info-table">
            <tr>
                <th class="purchase-info-header id">Book ID</th>
                <th class="purchase-info-header name">Book Name</th>
                <th class="purchase-info-header price">Book Price</th>
            </tr>
        </table>
        <div class="control-toolbar">
            <button type="button" name="add-book-button"><i class="fa fa-plus" aria-hidden="true"></i></button>
            <button type="button" name="calculate-price-button"><i class="fa fa-calculator" aria-hidden="true"></i></button>
        </div>
    </div>
</main>
{{> footer}}
