{{> navigator-bar}}
{{> header}}
<main class="index-page-main">
    <ul>
        <li>
            <a href="#" title="book-modify" class="modify-tabbed-title" style="background-color: darkred">Modify Book Information</a>
        </li>
        <li>
            <a href="#" title="store-modify" class="modify-tabbed-title">Modify Storage Information</a>
        </li>
        <li>
            <a href="#" title="vend-modify" class="modify-tabbed-title">Modify Vendor Information</a>
        </li>
    </ul>
    <div class="index-page-content">
        {{> book-modify}}
        {{> store-modify}}
        {{> vend-modify}}
    </div>
</main>
{{> footer}}
