{{> navigator-bar}}
{{> header}}
<main class="index-page-main">
    <ul>
        <li>
            <a href="">Query Book Information</a>
            <a href="">Modify Book Information</a>
        </li>
        <li>
            <a href="">Query Storage Information</a>
            <a href="">Modify Storage Information</a>
        </li>
        <li>
            <a href="">Query Vendor Information</a>
            <a href="">Modify Vendor Information</a>
        </li>
    </ul>
    <div class="index-page-content">{{> book-modify}}</div>
</main>
{{> footer}}
{{> dialog/vend-modal}}
