{{> navigator-bar}}
{{> header}}
<main class="index-page-main">
    <ul>
        <li>
            <a href="#" title="" class="staff-tabbed-title">Modify Book Information</a>
        </li>
        <li>
            <a href="#" title="" class="staff-tabbed-title">Modify Storage Information</a>
        </li>
        <li>
            <a href="#" title="" class="staff-tabbed-title">Modify Vendor Information</a>
        </li>
    </ul>
    <div class="index-page-content">
        {{> book-modify}}
        {{> store-modify}}
        {{> vend-modify}}
    </div>
</main>
{{> footer}}
{{> dialog/vend-modal}}
