input[type='text'], input[type='password'], input[type='date'], input[type='number'] {
    border-color: crimson;
    border-width: medium;
    border-style: solid;
    color: crimson;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 18pt;
    font-weight: normal;
    padding-left: 5px;
    width: 100%;
    height: 50px;
}

button:hover, select:hover, a:hover {
    background-color: darkred;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25), 0 5px 20px 0 rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

html {
    background-color: crimson;
    overflow-y: hidden;
}

hr {
    border-color: crimson;
    margin: 0;
}

header {
    align-items: center;
    display: inline-flex;
    justify-content: space-between;
    padding: 5px;
    width: 100%;
}

.general-header-title h1 {
    color: snow;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 24pt;
    font-weight: bold;
    margin: 0;
    padding: 0;
    text-align: right;
}

.general-header-title h2 {
    color: snow;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 12pt;
    font-weight: bold;
    margin: 0;
    padding: 0;
    text-align: right;
}

footer ul {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 10px;
    width: 100%;
}

.footer-info-list {
    display: inline-flex;
    justify-content: center;
    width: 100%;
}

.footer-info-list p {
    align-items: center;
    color: snow;
    display: inline-flex;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 10pt;
    font-weight: normal;
    justify-content: center;
    margin: 0;
    height: 40px;
}
/**/
nav {
    display: inline;
}

nav ul {
    display: inline-flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    /*width: 100%;*/
}

.dropdown-menu-bar {
    width: 240px;
    height: 40px;
}

.dropdown-menu-account {
    align-items: center;
    background-color: crimson;
    color: snow;
    display: flex;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 12pt;
    font-weight: normal;
    float: right;
    justify-content: center;
    text-decoration: none;
    width: 240px;
    height: 40px;
}

.dropdown-menu-title {
    align-items: center;
    background-color: crimson;
    color: snow;
    display: flex;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 12pt;
    font-weight: normal;
    justify-content: center;
    text-decoration: none;
    width: 100%;
    height: 40px;
}

.dropdown-menu-title:hover {
    background-color: darkred;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25), 0 5px 20px 0 rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.dropdown-menu-item {
    background-color: snow;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25), 0 5px 20px 0 rgba(0, 0, 0, 0.25);
    display: none;
    position: absolute;
    top: 40px;
    z-index: 10;
}

.dropdown-menu-item a {
    align-items: center;
    background-color: snow;
    color: crimson;
    display: flex;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 12pt;
    font-weight: normal;
    justify-content: center;
    text-decoration: none;
    width: 240px;
    height: 40px;
}

.dropdown-menu-item a:hover {
    background-color: crimson;
    color: snow;
}

.dropdown-menu-item hr {
    border-color: crimson;
    width: 140%;
}

.dropdown-menu-bar:hover .dropdown-menu-item {
    display: inline-block;
}
/**/
.initial-page-main, .query-page-main {
    background-color: snow;
    display: inline-flex;
    justify-content: center;
    padding: 5px;
    width: 100%;
}
/**/
.initial-form-table {
    background-color: crimson;
    margin: 10px;
    width: 500px;
}

.initial-form-table button, .initial-form-table select {
    background-color: crimson;
    border-width: 0;
    color: snow;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 18pt;
    font-weight: normal;
    width: 100%;
    height: 100%;
}

.initial-table-title {
    color: snow;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 24pt;
    font-weight: bold;
    text-align: center;
}

.initial-table-tag {
    background-color: snow;
    color: crimson;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 18pt;
    font-weight: normal;
    width: 100px;
    height: 50px;
    text-align: right;
}

.initial-table-content {
    background-color: snow;
    width: 360px;
    height: 50px;
}
/**/
.query-page-content {
    padding: 0 5px;
    width: 100%;
    overflow: auto;
}

.query-page-side {
    width: 300px;
    height: 750px;
}

.query-page-side section {
    border-color: crimson;
    border-width: medium;
    border-style: solid;
    margin-bottom: 5px;
    width: 100%;
}

.query-page-section-line {
    padding: 5px;
}

.query-page-side section h1 {
    align-items: center;
    background-color: crimson;
    color: snow;
    display: flex;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 14pt;
    font-weight: bold;
    height: 40px;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.query-page-side section label {
    color: crimson;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 12pt;
    font-weight: bold;
    padding: 5px;
}

.query-page-side section span {
    color: crimson;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 12pt;
    font-weight: bold;
}

.query-page-side section input[type='text'], .query-page-side section input[type='date'] {
    color: crimson;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 12pt;
    font-weight: bold;
    height: 30px;
}

.query-page-side section input[type='number'] {
    color: crimson;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 12pt;
    font-weight: bold;
    width: 80px;
    height: 30px;
}

.query-page-side select {
    background-color: crimson;
    border-width: 0;
    color: snow;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 12pt;
    font-weight: normal;
    width: 100%;
    height: 30px;
}

.query-page-side button {
    background-color: crimson;
    border-width: 0;
    color: snow;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 12pt;
    font-weight: normal;
    width: 100%;
    height: 30px;
}

.book-info-table {
    background-color: crimson;
    width: 1600px;
}

.repo-info-table {
    background-color: crimson;
    width: 1350px;
}

.vend-info-table {
    background-color: crimson;
    width: 1100px;
}

.book-info-header, .repo-info-header, .vend-info-header {
    color: snow;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 12pt;
    font-weight: normal;
    height: 40px;
}

.vend-info-header.id, .vend-info-header.phone {
    width: 150px;
}

.vend-info-header.name {
    width: 250px;
}

.vend-info-header.address, .vend-info-header.email {
    width: 200px;
}

.repo-info-header.id, .repo-info-header.floor, .repo-info-header.quantity {
    width: 150px;
}

.repo-info-header.guard {
    width: 250px;
}

.book-info-header.id, .book-info-header.type, .book-info-header.date {
    width: 150px;
}

.book-info-header.name {
    width: 350px;
}

.book-info-header.author, .book-info-header.press, .book-info-header.isbn {
    width: 200px;
}

.book-info-header.edition, .book-info-header.price {
    width: 100px;
}
