<div class="modal-dialog-backdrop" id="buy-modal-backdrop"></div>
<div class="modal-dialog-frame" id="buy-modal-framework">
    <div class="modal-dialog-main">
        <div class="modal-dialog-title">
            <h1>Add New Book</h1>
            <button type="button" id="buy-modal-close-button"><i class="fa fa-times" aria-hidden="true"></i></button>
        </div>
        <table>
            <tr class="modal-dialog-input">
                <td class="modal-input-tag">Book ISBN</td>
                <td class="modal-input-text"><input type="text" name="bookid" id="input-book-isbn"></td>
            </tr>
            <tr class="modal-dialog-button">
                <td colspan="2">
                    <ul>
                        <li><a href="#" id="buy-modal-add-button">Add to List</a></li>
                    </ul>
                </td>
            </tr>
        </table>
    </div>
</div>
