<div class="modal-dialog-backdrop" id="store-modal-backdrop"></div>
<div class="modal-dialog-frame" id="store-modal-framework">
    <div class="modal-dialog-main">
        <div class="modal-dialog-title">
            <h1>Insert New Repository Information</h1>
            <button type="button" id="store-modal-close-button"><i class="fa fa-times" aria-hidden="true"></i></button>
        </div>
        <table>
            <tr class="modal-dialog-input">
                <td class="modal-input-tag">Repo ID</td>
                <td class="modal-input-text"><input type="text" name="repoid" value="" id="store-modal-input-repoid"></td>
            </tr>
            <tr class="modal-dialog-input">
                <td class="modal-input-tag">Repo Street</td>
                <td class="modal-input-text"><input type="text" name="repostreet" value="" id="store-modal-input-repostreet"></td>
            </tr>
            <tr class="modal-dialog-input">
                <td class="modal-input-tag">Repo Number</td>
                <td class="modal-input-text"><input type="text" name="reponumber" value="" id="store-modal-input-reponumber"></td>
            </tr>
            <tr class="modal-dialog-input">
                <td class="modal-input-tag">Repo Purpose</td>
                <td class="modal-input-text">
                    <select id="store-modal-select-purpose" name="">
                        <option selected="true" value="0" disabled>Select one Repository Purpose</option>
                        <option value="0">Any Purpose</option>
                        <option value="1">Art, History, Literature</option>
                        <option value="2">Engineering, Art</option>
                        <option value="3">Engineering, Science, History</option>
                        <option value="4">Literature, Engineering, Science</option>
                        <option value="5">Art, Science</option>
                    </select>
                </td>
            </tr>
            <tr class="modal-dialog-input">
                <td class="modal-input-tag">Repo Guarder</td>
                <td class="modal-input-text"><input type="text" name="repoguard" value="" id="store-modal-input-repoguard"></td>
            </tr>
            <tr class="modal-dialog-input">
                <td class="modal-input-tag">Book ID</td>
                <td class="modal-input-text"><input type="text" name="bookid" id="store-modal-input-bookid"></td>
            </tr>
            <tr class="modal-dialog-input">
                <td class="modal-input-tag">Vendor ID</td>
                <td class="modal-input-text"><input type="text" name="vendid" value="" id="store-modal-input-vendid"></td>
            </tr>
            <tr class="modal-dialog-button">
                <td colspan="4">
                    <ul>
                        <li><a href="#" id="store-modal-button-insert">Insert</a></li>
                        <li><a href="#" id="store-modal-button-add">Add</a></li>
                        <li><a href="#" id="store-modal-button-update">Update</a></li>
                        <li><a href="#" id="store-modal-button-clear">Clear</a></li>
                    </ul>
                </td>
            </tr>
        </table>
    </div>
</div>
