<div class="modal-dialog-backdrop" id="vend-modal-backdrop"></div>
<div class="modal-dialog-frame" id="vend-modal-framework">
    <div class="modal-dialog-main">
        <div class="modal-dialog-title">
            <h1>Insert New Vendor Information</h1>
            <button type="button" id="vend-modal-close-button"><i class="fa fa-times" aria-hidden="true"></i></button>
        </div>
        <table>
            <tr class="modal-dialog-input">
                <td class="modal-input-tag">Vendor ID</td>
                <td class="modal-input-text"><input type="text" name="vendid" id="input-vend-id"></td>
            </tr>
            <tr class="modal-dialog-input">
                <td class="modal-input-tag">Vendor Name</td>
                <td class="modal-input-text"><input type="text" name="vendname" id="input-vend-name"></td>
            </tr>
            <tr class="modal-dialog-input">
                <td class="modal-input-tag">Vendor Address</td>
                <td class="modal-input-text"><input type="text" name="vendaddress" id="input-vend-address"></td>
            </tr>
            <tr class="modal-dialog-input">
                <td class="modal-input-tag">Vendor Phone</td>
                <td class="modal-input-text"><input type="text" name="vendphone" id="input-vend-phone"></td>
            </tr>
            <tr class="modal-dialog-input">
                <td class="modal-input-tag">Vendor Email</td>
                <td class="modal-input-text"><input type="text" name="vendemail" id="input-vend-email"></td>
            </tr>
            <tr class="modal-dialog-input">
                <td class="modal-input-tag">Book Type</td>
                <td class="modal-input-text">
                    <select class="" name="">
                        <option selected="true" disabled>Select one book type</option>
                        <option>Art</option>
                        <option>Engineering</option>
                        <option>History</option>
                        <option>Literature</option>
                        <option>Science</option>
                    </select>
                </td>
            </tr>
            <tr class="modal-dialog-input">
                <td class="modal-input-tag">Repo ID</td>
                <td class="modal-input-text"><input type="text" name="repoid" id="input-repo-id"></td>
            </tr>
            <tr class="modal-dialog-button">
                <td colspan="2">
                    <ul>
                        <li><a href="">Add to Database</a></li>
                        <li><a href="">Add to Table</a></li>
                        <li><a href="">Clean Up</a></li>
                    </ul>
                </td>
            </tr>
        </table>
    </div>
</div>
