<div class="control-toolbar">
    <button type="button" name="add-book-button"><i class="fa fa-plus" aria-hidden="true"></i></button>
    <button type="button" name="calculate-price-button"><i class="fa fa-calculator" aria-hidden="true"></i></button>
</div>
