<div class="control-toolbar">
    <button type="button" name="add-row-button" style="float: left" id="modify-modal-open-button"><i class="fa fa-plus" aria-hidden="true"></i></button>
    <button type="button" name="update-select-button" id="modify-update-select-button"><i class="fa fa-upload" aria-hidden="true"></i></button>
    <button type="button" name="delete-select-button" id="modify-delete-select-button"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
</div>
