<section class="consumer-info-section">
    <h1>Visitor Information</h1>
    <div class="">
        <label for="">ID:</label>
        <span>{{id}}</span>
    </div>
    <hr>
    <div class="">
        <label for="">Name:</label>
        <span>{{firstName}}&nbsp;{{lastName}}</span>
    </div>
    <hr>
    <div class="">
        <label for="">Type:</label>
        <span>{{type}}</span>
    </div>
</section>
