<div class="query-page-content">
    <table id="consumer-buy-book-table" class="buy-info-table">
        <tr>
            <th class="book-info-header id">Book ID</th>
            <th class="book-info-header name">Book Name</th>
            <th class="book-info-header price">Book Price</th>
        </tr>
    </table>
</div>
