<div class="modify-page-content">
    <table class="buy-info-table" id="buy-info-query-table">
        <tr>
            <th class="buy-info-header id">Consumer ID</th>
            <th class="buy-info-header name">Consumer Name</th>
            <th class="buy-info-header type">Consumer Type</th>
            <th class="buy-info-header date">Date of Order</th>
            <th class="book-info-header phone">Book ID</th>
            <th class="book-info-header email">Book Name</th>
            <th class="book-info-header type">Book Type</th>
            <th class="book-info-header isbn">Book ISBN</th>
            <th class="book-info-header price">Book Price</th>
        </tr>
    </table>
</div>
