<div id="buy-list-tabbed-content" class="query-page-content" style="height:705px">
    <table id="consumer-buy-book-table" class="purchase-info-table">
        <tr>
            <th class="purchase-info-header id">Book ID</th>
            <th class="purchase-info-header name">Book Name</th>
            <th class="purchase-info-header price">Book Price</th>
        </tr>
    </table>
</div>
