<tr>
    <td class="buy-info-row id">Consumer ID</td>
    <td class="buy-info-row name">Consumer Name</td>
    <td class="buy-info-row type">Consumer Type</td>
    <td class="buy-info-row date">Date of Order</td>
    <td class="book-info-row phone">Book ID</td>
    <td class="book-info-row email">Book Name</td>
    <td class="book-info-row type">Book Type</td>
    <td class="book-info-row isbn">Book ISBN</td>
    <td class="book-info-row price">Book Price</td>
</tr>
