<table class="query-input-bar">
    <tr>
        <td class="query-input-bar-tag">ID</td>
        <td><input type="text" name="vendid" value=""></td>
        <td class="query-input-bar-tag">Name</td>
        <td><input type="text" name="vendname" value=""></td>
        <td class="query-input-bar-tag">Type</td>
        <td>
            <select class="" name="">
                <option selected="true" disabled>Select one book type</option>
                <option>Art</option>
                <option>Engineering</option>
                <option>History</option>
                <option>Literature</option>
                <option>Science</option>
            </select>
        </td>
    </tr>
    <tr>
        <td class="query-input-bar-tag">Repository</td>
        <td><input type="text" name="repoid" value=""></td>
        <td colspan="4"><button type="button" name="dosearch">Search</button></td>
    </tr>
</table>
