<div class="query-page-content">
    <table class="vend-info-table" id="vend-info-query-table">
        <tr>
            <th class="vend-info-header id">Vendor ID</th>
            <th class="vend-info-header name">Vendor Name</th>
            <th class="vend-info-header address">Vendor Address</th>
            <th class="vend-info-header phone">Vendor Phone</th>
            <th class="vend-info-header email">Vendor Email</th>
            <th class="book-info-header type">Book Type</th>
        </tr>
    </table>
</div>
