<div class="modify-page-content">
    <table class="vend-info-table" id="vend-info-modify-table">
        <tr>
            <th class="vend-info-header select"><input type="checkbox" name="" value=""></th>
            <th class="vend-info-header id">Vendor ID</th>
            <th class="vend-info-header name">Vendor Name</th>
            <th class="vend-info-header address">Vendor Address</th>
            <th class="vend-info-header phone">Vendor Phone</th>
            <th class="vend-info-header email">Vendor Email</th>
            <th class="book-info-header type">Book Type</th>
            <th class="vend-info-header control"></th>
        </tr>
    </table>
</div>
