<div class="query-page-content"  style="height:800px">
    <table class="vend-info-table" id="staff-vend-info-table">
        <tr>
            <th class="repo-info-header select"><input type="checkbox" name="" value=""></th>
            <th class="vend-info-header id">Vendor ID</th>
            <th class="vend-info-header name">Vendor Name</th>
            <th class="vend-info-header address">Vendor Address</th>
            <th class="vend-info-header phone">Vendor Phone</th>
            <th class="vend-info-header email">Vendor Email</th>
            <th class="book-info-header type">Book Type</th>
            <th class="book-info-header control"></th>
        </tr>
    </table>
    {{> tool/staff-control-bar}}
</div>
