<div class="query-page-content" id="consumer-store-info-content">
    <table class="repo-info-table" id="consumer-repo-info-table">
        <tr>
            <th class="book-info-header id">Book ID</th>
            <th class="book-info-header name">Book Name</th>
            <th class="book-info-header type">Book Type</th>
            <th class="repo-info-header quantity">Book Quantity</th>
            <th class="repo-info-header id">Repository ID</th>
            <th class="repo-info-header floor">Repository Address</th>
            <th class="repo-info-header guard">Repository Guarder</th>
        </tr>
    </table>
</div>
