<div class="query-page-content" style="height:770px">
    <table class="repo-info-table">
        <tr>
            <th class="repo-info-header select"><input type="checkbox" name="" value=""></th>
            <th class="repo-info-header id">Repository ID</th>
            <th class="repo-info-header floor">Repository Floor</th>
            <th class="repo-info-header guard">Repository Guarder</th>
            <th class="book-info-header id">Book ID</th>
            <th class="book-info-header name">Book Name</th>
            <th class="book-info-header type">Book Type</th>
            <th class="repo-info-header quantity">Book Quantity</th>
            <th class="book-info-header control"></th>
        </tr>
    </table>
    {{> tool/staff-control-bar}}
</div>
