<div class="query-page-content">
    <table class="store-info-table" id="store-info-query-table">
        <tr>
            <th class="book-info-header id">Book ID</th>
            <th class="book-info-header name">Book Name</th>
            <th class="book-info-header type">Book Type</th>
            <th class="store-info-header quantity">Book Quantity</th>
            <th class="store-info-header id">Repository ID</th>
            <th class="store-info-header floor">Repository Address</th>
            <th class="store-info-header guard">Repository Guarder</th>
        </tr>
    </table>
</div>
