<table class="query-input-bar">
    <tr>
        <td class="query-input-bar-tag">ID</td>
        <td><input type="text" name="bookid" placeholder="Book ID" id="staff-store-input-bookid"></td>
        <td class="query-input-bar-tag">Name</td>
        <td><input type="text" name="bookname" placeholder="Book Name" id="staff-store-input-bookname"></td>
        <td class="query-input-bar-tag">Type</td>
        <td>
            <select class="" name="" id="staff-store-select-booktype">
                <option selected="true" value="0" disabled>Select one book type</option>
                <option value="0">Any Type</option>
                <option value="1">Art</option>
                <option value="2">Engineering</option>
                <option value="3">History</option>
                <option value="4">Literature</option>
                <option value="5">Science</option>
            </select>
        </td>
    </tr>
    <tr>
        <td class="query-input-bar-tag">ISBN</td>
        <td><input type="text" name="bookisbn" placeholder="Book ISBN" id="staff-store-input-bookisbn"></td>
        <td class="query-input-bar-tag">Repository</td>
        <td><input type="text" name="repoid" placeholder="Repository ID" id="staff-store-input-repoid"></td>
        <td class="query-input-bar-tag">Address</td>
        <td><input type="text" name="repoaddress" placeholder="Repository Address" id="staff-store-input-address"></td>
    </tr>
    <tr>
        <td class="query-input-bar-tag">Purpose</td>
        <td>
            <select id="staff-store-select-purpose" name="">
                <option selected="true" value="0" disabled>Select one Repository Purpose</option>
                <option value="0">Any Purpose</option>
                <option value="1">Art, History, Literature</option>
                <option value="2">Engineering, Art</option>
                <option value="3">Engineering, Science, History</option>
                <option value="4">Literature, Engineering, Science</option>
                <option value="5">Art, Science</option>
            </select>
        </td>
        <td colspan="4"><button type="button" name="dosearch" id="staff-store-search-button">Search</button></td>
    </tr>
</table>
