<table class="query-input-bar">
    <tr>
        <td class="query-input-bar-tag">Name</td>
        <td><input type="text" name="bookname" value=""></td>
        <td class="query-input-bar-tag">Type</td>
        <td>
            <select class="" name="">
                <option selected="true" disabled>Select one book type</option>
                <option>Art</option>
                <option>Engineering</option>
                <option>History</option>
                <option>Literature</option>
                <option>Science</option>
            </select>
        </td>
        <td class="query-input-bar-tag">Author</td>
        <td><input type="text" name="bookauthor" value=""></td>
    </tr>
    <tr>
        <td class="query-input-bar-tag">Date</td>
        <td><input type="date" name="bookstart" value=""></td>
        <td class="query-input-bar-tag to">
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
            <i class="fa fa-arrow-right" aria-hidden="true"></i>
        </td>
        <td><input type="date" name="bookend" value=""></td>
        <td class="query-input-bar-tag">Press</td>
        <td>
            <select class="" name="">
                <option selected="true" disabled>Select one publish press</option>
                <option></option>
            </select>
        </td>
    </tr>
    <tr>
        <td class="query-input-bar-tag">Price</td>
        <td><input type="number" step="0.01" min="0" max="100000" name="bookprice" value=""></td>
        <td class="query-input-bar-tag to">
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
            <i class="fa fa-arrow-right" aria-hidden="true"></i>
        </td>
        <td><input type="number" step="0.01" min="0" max="100000" name="bookprice" value=""></td>
        <td colspan="2"><button type="button" name="dosearch">Search</button></td>
    </tr>
</table>
