<section class="condition-input-section">
    <h1>Query Condition</h1>
    <div class="condition-input-section-line">
        <label for="">Book Name</label>
        <input type="text" name="bookname" value="">
    </div>
    <div class="condition-input-section-line">
        <label for="">Book Type</label>
        <select class="" name="">
            <option selected="true" disabled>Select one book type</option>
            <option>Art</option>
            <option>Engineering</option>
            <option>History</option>
            <option>Literature</option>
            <option>Science</option>
        </select>
    </div>
    <div class="condition-input-section-line">
        <label for="">Book Author</label>
        <input type="text" name="bookauthor" value="">
    </div>
    <div class="condition-input-section-line">
        <label for="">Book Publish Date</label>
        <input type="date" name="bookstart" value="">
        <label for="">to</label>
        <input type="date" name="bookend" value="">
    </div>
    <div class="condition-input-section-line">
        <label for="">Book Publish Press</label>
        <select class="" name="">
            <option selected="true" disabled>Select one publish press</option>
            <option>Art</option>
            <option>Engineering</option>
            <option>History</option>
            <option>Literature</option>
            <option>Science</option>
        </select>
    </div>
    <div class="condition-input-section-line">
        <label for="">Book Price</label><br>
        <input type="number" step="0.01" min="0" max="100000" name="bookprice" value="">
        <label for="">to</label>
        <input type="number" step="0.01" min="0" max="100000" name="bookprice" value="">
    </div>
    <button type="button" name="dosearch">Search</button>
</section>
