<div class="query-page-content" style="height:760px">
    <table class="book-info-table">
        <tr>
            <th class="book-info-header id">Book ID</th>
            <th class="book-info-header name">Book Name</th>
            <th class="book-info-header type">Book Type</th>
            <th class="book-info-header author">Book Author</th>
            <th class="book-info-header edition">Book Edition</th>
            <th class="book-info-header date">Book Publish Date</th>
            <th class="book-info-header press">Book Publish Press</th>
            <th class="book-info-header isbn">Book ISBN</th>
            <th class="book-info-header price">Book Price</th>
        </tr>
    </table>
</div>
